@media print {
	body {
		-webkit-print-color-adjust: exact;
	}
}

@media print{
	@page {
		size: landscape
	}
}

body {
    font-family: 'Raleway', sans-serif;
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h1 {
	font-family: 'Julius Sans One', sans-serif;
    font-size: 5vh;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
    font-size: 5vh;
    float: right;
}
  
h2 span {
    font-size: 14px;
    font-weight: normal;
}

.erro{
	display: none;
}

#load{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	filter: alpha(opacity=80);
	background-color: #000000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    z-index: 9000;
    text-align: center;
    justify-content: center;
    pointer-events: none
}

#load img{
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
}

.navbar {
	overflow: hidden; 
	background-color: #000000; 
	position: fixed !important; 
	top: 0; 
	width: 100%; 
	z-index: 99;
}

.navbar b {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 800;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
}

.navbar a:hover {
	background-color: #606060;
	color: white;
	text-decoration: none;
}

#mapa{
	max-width: 100%; 
	max-height: 50%;
}

.chart{
	min-width: 80%;
	min-height: 80%;
	max-width: 80%;
	max-height: 80%;
	left: 0%;
}

#chartDiv1{
	position: absolute;
	top: 0%;
}

#chartDiv1 h1{
	margin: 0px 0px 0px 0px;
}

#chartDiv2{
	position: absolute;
	top: 100%;
}

#chartDiv3{
	position: absolute;
	top: 200%;
}

#chartDiv3 h1{
	margin: 0px 0px 0px 0px;
}

#chartDiv4{
	position: absolute;
	top: 300%;
}

.color_legend{
	float: left;
	height: 30px;
	width: 30px;
}

.texto_legenda{
	float: left;
	margin: 5px;
	font-size: 15px;
}

.legenda_item{
	height: 30px;
	margin-top: 5px;
}

#legenda{
	position: absolute;
	top: 15%;
	margin-top: 5%;
	right: -2%;
}

#Q1{
	position: absolute;
}

#Q1 h1{
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

#bar1Q1{
	position: absolute;
	top: 60%;	
}
#Q2{
	position: absolute;
	top: 100%;
}

#Q3{
	position: absolute;
	top: 200%;
}

#Q4{
	position: absolute;
	top: 300%;
}

#Q5{
	position: absolute;
	top: 400%;
}

#Q6{
	position: absolute;
	top: 500%;
}

#Q7{
	position: absolute;
	top: 600%;
}

#gradient{
	background: -webkit-linear-gradient(bottom,#ffff00,#3d3d00);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom,#ffff00,#3d3d00);
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(bottom,#ffff00,#3d3d00);
	/* Standard syntax */
	background: linear-gradient(to top,#ffff00,#3d3d00); 
	min-height: 200px;
	min-width: 20px;
	width: 10%;
	height: 30%;
}

#legendaLinear{
	position: absolute;
	top: 0%;
	margin-top: 5%;
	right: 0%;
}

.buttom_control{
	moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	/**
	moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	**/
	background-color: #000000;
	z-index: 90;
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 10px;
}

.controls {
	position: fixed;
	bottom: 0%;
	right: 0%;
	margin-bottom: 20px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.controls:hover {
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */	
}

.buttom_control img {
	margin: 5px;
	height: 25px;
	width: 25px;
}

.buttom_control:hover {
	cursor: pointer;
}

.filtro_buttom{
	moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	/**
	moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	**/
	background-color: #000000;
	z-index: 80;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10%;
	right: 0%;
	text-align: center;
	margin-top: 60px;
	margin-right: 20px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#Q1 .filtro_buttom{
	margin-right: auto;
	top: 10%;
	right: 10%;
}

.filtro_buttom img{
	margin: 8px;
	height: 25px;
	width: 25px;
}

.filtro_buttom:hover {
	cursor: pointer;
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */	
}

.filtro {
	display: none;
	moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #606060;
	width: auto;
	height: auto;
	position: absolute;
	right: 0%;
	top: 30%;
	margin-right: 20px;
	padding: 5px 30px 5px 5px;
	background-color: white;
	color: black;
}

#Q1 .filtro{
	top: 46%;
	margin-right: 100px;
}

g text{
	fill: black !important;
}

#scatter1 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}

/*
#bar2 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-10deg);

}*/
