body {
    font-family: "helvetica"
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 span {
    font-size:14px;
    font-weight:normal;
}

#chicago-map {
    width: 650px;
    height: 450px;
}